/*h1 {
    font-family: 'Courier New', Courier, monospace;
    line-height: center;
    text-align: center;
    color: blue;
}*/
h1 {
    background: rgb(24,0,36);
    background: linear-gradient(90deg, rgba(24,0,36,1) 3%, rgba(0,212,255,1) 100%);
    /*-webkit-background-clip: text;
    -webkit-text-fill-color: transparent;*/
}
h2 {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color: rgb(161, 175, 2);
}
p::first-line {
    color: teal;
}
p {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

a:hover {
    color: greenyellow;
}
a {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    size: 12px;
}
/*body {
    background-image: url(https://static.vecteezy.com/system/resources/thumbnails/002/380/063/small/abstract-geometric-flat-design-background-free-vector.jpg);
    background-size: 100%;
}*/

#w1 {
    color: red;
}
#w2 {
    color: #7fff00;
}
#w3 {
    color: rgb(2, 5, 175);
}
#w4 {
    color: rgba(148, 0, 211, 1)
}
#w5 {
    color: hsl(200, 100%, 50%);
}
#w6 {
    color: hsla(9, 100%, 64%, 0.8);
}